// Variables

// Colors
$color-accent: #0DB826;
$color-muted: #B4B4B4;

// Fonts
$font-body: 'Enriqueta', serif;
$font-heading: 'Roboto', sans-serif;
$font-size: 18px;
$font-color: #5f5f5f;

// Screen breakpoint variables
$break-xsmall: 640px;
$break-small: 768px;
$break-medium: 992px;
$break-1024: 1024px;
$break-large: 1200px;
$break-1280: 1280px;
$break-xlarge: 1440px;